{
    "openapi": "3.0.0",
    "info": {
        "description": "This is a custody wallet service openapi server.",
        "title": "Wallet OpenAPI Documentation",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.wallet.openweb3.io"
        }
    ],
    "paths": {
        "/api/v1/apps/{appId}/wallets": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "List all wallets",
                "tags": [
                    "wallets"
                ],
                "summary": "List wallets",
                "operationId": "v1.wallets.list",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The page number to return.",
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "The number of items to return per page.",
                        "name": "size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page-Wallet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Create a Wallet",
                "tags": [
                    "wallets"
                ],
                "summary": "Create wallet",
                "operationId": "v1.wallets.create",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWalletRequest"
                            }
                        }
                    },
                    "description": "Request body",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Wallet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/wallets/{walletId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Get a wallet by ID",
                "tags": [
                    "wallets"
                ],
                "summary": "Get wallet",
                "operationId": "v1.wallets.retrieve",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Wallet ID",
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Wallet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Update a Wallet",
                "tags": [
                    "wallets"
                ],
                "summary": "Update wallet",
                "operationId": "v1.wallets.update",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Wallet ID",
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWalletRequest"
                            }
                        }
                    },
                    "description": "Request body",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Wallet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/wallets/{walletId}/accounts": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "List wallet accounts",
                "tags": [
                    "wallets"
                ],
                "summary": "List wallet accounts",
                "operationId": "v1.wallets.listAccounts",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Wallet ID",
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The page number to return.",
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "The number of items to return per page.",
                        "name": "size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page-Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/wallets/{walletId}/deposit_address": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Get wallet's deposit address",
                "tags": [
                    "addresses"
                ],
                "summary": "Get deposit address",
                "operationId": "v1.wallets.getDepositAddress",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Wallet ID",
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The code of currency used in the transaction (e.g., TON, USDT, USD, EUR, etc.).",
                        "name": "currency",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "chain network, if not specified, the default network of the currency will be used.",
                        "name": "network",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/wallets/{walletId}/deposit_addresses": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "List wallet's deposit addresses",
                "tags": [
                    "addresses"
                ],
                "summary": "List deposit addresses",
                "operationId": "v1.wallets.listDepositAddresses",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Wallet ID",
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The code of currency used in the transaction (e.g., TON, USDT, USD, EUR, etc.).",
                        "name": "currency",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "chain network, if not specified, the default network of the currency will be used.",
                        "name": "network",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page-Address"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/addresses": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "List of all available addresses.",
                "tags": [
                    "addresses"
                ],
                "summary": "List all addresses",
                "operationId": "v1.addresses.list",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The code of currency used in the transaction (e.g., TON, USDT, USD, EUR, etc.).",
                        "name": "currency",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The cursor to use for pagination.",
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of records to return default: 20",
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "x-enum-varnames": [
                            "AddressTypeCollect",
                            "AddressTypeDeposit"
                        ],
                        "description": "The type of address to retrieve.",
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "COLLECT",
                                "DEPOSIT"
                            ]
                        }
                    },
                    {
                        "description": "Unique system generated identifier of the wallet",
                        "name": "walletId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page-Address"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/currencies": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Retrieve a list of all available currencies.",
                "tags": [
                    "currencies"
                ],
                "summary": "List currencies",
                "operationId": "v1.currencies.list",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "rated",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CursorPage-Currency"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/currencies/{code}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Get currency info by currency code",
                "tags": [
                    "currencies"
                ],
                "summary": "Get Currency",
                "operationId": "v1.currencies.retrieve",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Currency code",
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Currency"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/transactions": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "List transactions",
                "tags": [
                    "transactions"
                ],
                "summary": "List transactions",
                "operationId": "v1.transactions.list",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The type of currency involved in the transaction.",
                        "name": "currency",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A cursor value for pagination purposes.",
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "x-enum-varnames": [
                            "TransactionDirectionUnknown",
                            "TransactionDirectionOut",
                            "TransactionDirectionIn"
                        ],
                        "description": "The direction of the transaction (e.g., incoming or outgoing).",
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "UNKNOWN",
                                "OUT",
                                "IN"
                            ]
                        }
                    },
                    {
                        "description": "The number of records to return default: 20",
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The blockchain network on which the transaction takes place.",
                        "name": "network",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "x-enum-varnames": [
                            "TransactionStatusProcessing",
                            "TransactionStatusCanceled",
                            "TransactionStatusFailed",
                            "TransactionStatusSucceed"
                        ],
                        "description": "The status of the transaction.",
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PROCESSING",
                                "CANCELED",
                                "FAILED",
                                "SUCCEED"
                            ]
                        }
                    },
                    {
                        "description": "The transaction hash, which uniquely identifies a transaction on the blockchain.",
                        "name": "txhash",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Unique system generated identifier of the wallet",
                        "name": "wallet_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page-Transaction"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/transactions/{transactionId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Get a transaction by ID",
                "tags": [
                    "transactions"
                ],
                "summary": "Get transaction",
                "operationId": "v1.transactions.retrieve",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Transaction ID",
                        "name": "transactionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Transaction"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/transactions/transfer": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Create a transfer transaction",
                "tags": [
                    "transactions"
                ],
                "summary": "Transfer token",
                "operationId": "v1.transactions.transfer",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTransferRequest"
                            }
                        }
                    },
                    "description": "Request Body",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTransferResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/transactions/withdraw": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Create a new withdrawal request for a specified currency",
                "tags": [
                    "transactions"
                ],
                "summary": "Withdraw",
                "operationId": "v1.wallets.withdraw",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWithdrawRequest"
                            }
                        }
                    },
                    "description": "withdraw",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWithdrawReply"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/rates": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Query the latest exchange rates between different currencies.",
                "tags": [
                    "rates"
                ],
                "summary": "List rates",
                "operationId": "v1.rates.list",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetRatesRequest"
                            }
                        }
                    },
                    "description": "Request body",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRatesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apps/{appId}/rates/estimate": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "SignatureAuth": []
                    }
                ],
                "description": "Estimates currency exchange amounts.",
                "tags": [
                    "rates"
                ],
                "summary": "Estimates",
                "operationId": "v1.rates.estimate",
                "parameters": [
                    {
                        "description": "App ID",
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The amount of the base currency you want to convert",
                        "name": "base_amount",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The currency code of the base currency that you want to convert from",
                        "name": "base_currency",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    },
                    {
                        "description": "The currency code of the target currency that you want to convert to",
                        "name": "to_currency",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EstimateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "name": "X-Api-Key",
                "in": "header"
            },
            "SignatureAuth": {
                "type": "apiKey",
                "name": "X-Signature",
                "in": "header"
            }
        },
        "schemas": {
            "Account": {
                "type": "object",
                "required": [
                    "balance",
                    "currency",
                    "id",
                    "in_transit_balance",
                    "locked_balance",
                    "wallet_id"
                ],
                "properties": {
                    "balance": {
                        "description": "The current balance of the wallet",
                        "type": "string"
                    },
                    "currency": {
                        "description": "The currency associated with the wallet",
                        "type": "string"
                    },
                    "id": {
                        "description": "Account id",
                        "type": "string"
                    },
                    "in_transit_balance": {
                        "description": "The amount of the balance that is in transit",
                        "type": "string"
                    },
                    "locked_balance": {
                        "description": "The amount of the balance that is locked",
                        "type": "string"
                    },
                    "wallet_id": {
                        "description": "The wallet's ID",
                        "type": "string"
                    }
                }
            },
            "Address": {
                "type": "object",
                "required": [
                    "address",
                    "network"
                ],
                "properties": {
                    "address": {
                        "description": "the blockchain address.",
                        "type": "string"
                    },
                    "network": {
                        "description": "the blockchain network",
                        "type": "string"
                    }
                }
            },
            "AddressType": {
                "type": "string",
                "enum": [
                    "COLLECT",
                    "DEPOSIT"
                ],
                "x-enum-varnames": [
                    "AddressTypeCollect",
                    "AddressTypeDeposit"
                ]
            },
            "CreateTransferRequest": {
                "type": "object",
                "required": [
                    "amount",
                    "currency",
                    "from",
                    "to"
                ],
                "properties": {
                    "amount": {
                        "description": "The amount of currency to be transferred",
                        "type": "string"
                    },
                    "currency": {
                        "description": "The code of currency to be transferred",
                        "type": "string"
                    },
                    "from": {
                        "description": "The ID of the wallet from which the transfer will be made",
                        "type": "string"
                    },
                    "to": {
                        "description": "The ID of the wallet to which the transfer will be made",
                        "type": "string"
                    }
                }
            },
            "CreateTransferResponse": {
                "type": "object",
                "required": [
                    "transaction_id"
                ],
                "properties": {
                    "transaction_id": {
                        "type": "string"
                    }
                }
            },
            "CreateWalletRequest": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "description": "Wallet Name",
                        "type": "string"
                    },
                    "uid": {
                        "description": "Custom ID",
                        "type": "string"
                    }
                }
            },
            "CreateWithdrawReply": {
                "type": "object",
                "required": [
                    "transaction_id"
                ],
                "properties": {
                    "transaction_id": {
                        "type": "string"
                    }
                }
            },
            "CreateWithdrawRequest": {
                "type": "object",
                "required": [
                    "amount",
                    "currency",
                    "network",
                    "toAddress",
                    "walletId"
                ],
                "properties": {
                    "amount": {
                        "description": "The amount of currency to be withdrawn",
                        "type": "string"
                    },
                    "currency": {
                        "description": "The code of currency to be withdrawn.",
                        "type": "string"
                    },
                    "network": {
                        "description": "The network of the currency to be withdrawn.",
                        "type": "string"
                    },
                    "toAddress": {
                        "description": "The recipient address where the withdrawn funds will be sent. This is usually a wallet address specific to the chosen network.",
                        "type": "string"
                    },
                    "walletId": {
                        "description": "The ID of the wallet from which the withdrawal will be made.",
                        "type": "string"
                    }
                }
            },
            "Currency": {
                "type": "object",
                "required": [
                    "can_deposit",
                    "can_transfer",
                    "can_withdraw",
                    "code",
                    "decimals",
                    "logo",
                    "max_fee",
                    "max_fee_for_ct_addr",
                    "max_withdraw_amount",
                    "min_deposit_amount",
                    "min_fee",
                    "min_fee_for_ct_addr",
                    "min_withdraw_amount",
                    "name",
                    "need_memo",
                    "networks",
                    "precision",
                    "rated",
                    "symbol"
                ],
                "properties": {
                    "can_deposit": {
                        "description": "Is it depositable on-chain",
                        "type": "boolean"
                    },
                    "can_transfer": {
                        "description": "Is it transferable within the platform",
                        "type": "boolean"
                    },
                    "can_withdraw": {
                        "description": "Is it withdrawable on-chain",
                        "type": "boolean"
                    },
                    "code": {
                        "description": "Currency code identifier",
                        "type": "string"
                    },
                    "contract_address": {
                        "description": "Contract address (for token contracts, if applicable)",
                        "type": "string"
                    },
                    "decimals": {
                        "description": "Decimal precision",
                        "type": "integer"
                    },
                    "logo": {
                        "description": "Currency logo URL",
                        "type": "string"
                    },
                    "max_fee": {
                        "description": "Maximum fee",
                        "type": "string"
                    },
                    "max_fee_for_ct_addr": {
                        "description": "Maximum fee for contract addresses",
                        "type": "string"
                    },
                    "max_withdraw_amount": {
                        "description": "Maximum withdraw amount per transaction",
                        "type": "string"
                    },
                    "min_deposit_amount": {
                        "description": "Minimum deposit amount per transaction",
                        "type": "string"
                    },
                    "min_fee": {
                        "description": "Minimum fee",
                        "type": "string"
                    },
                    "min_fee_for_ct_addr": {
                        "description": "Minimum fee for contract addresses",
                        "type": "string"
                    },
                    "min_withdraw_amount": {
                        "description": "Minimum withdraw amount per transaction",
                        "type": "string"
                    },
                    "name": {
                        "description": "Currency name",
                        "type": "string"
                    },
                    "need_memo": {
                        "description": "Does it require a memo/note for transactions",
                        "type": "boolean"
                    },
                    "networks": {
                        "description": "Networks information",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CurrencyNetwork"
                        }
                    },
                    "precision": {
                        "description": "The number of decimals used by the currency",
                        "type": "integer"
                    },
                    "rated": {
                        "description": "Participate in exchange rate calculation",
                        "type": "boolean"
                    },
                    "symbol": {
                        "description": "Currency symbol",
                        "type": "string"
                    }
                }
            },
            "CurrencyNetwork": {
                "type": "object",
                "required": [
                    "can_deposit",
                    "can_transfer",
                    "can_withdraw",
                    "code",
                    "id",
                    "max_fee",
                    "max_fee_for_ct_addr",
                    "max_withdraw_amount",
                    "min_confirmations",
                    "min_deposit_amount",
                    "min_fee",
                    "min_fee_for_ct_addr",
                    "min_withdraw_amount",
                    "name",
                    "need_memo",
                    "network"
                ],
                "properties": {
                    "can_deposit": {
                        "description": "Indicates if on-chain deposits are allowed",
                        "type": "boolean"
                    },
                    "can_transfer": {
                        "description": "Indicates if internal transfers are permitted",
                        "type": "boolean"
                    },
                    "can_withdraw": {
                        "description": "Indicates if on-chain withdrawals are allowed",
                        "type": "boolean"
                    },
                    "code": {
                        "description": "Currency code",
                        "type": "string"
                    },
                    "contract_address": {
                        "description": "Contract address for tokens based on smart contracts, such as ERC-20",
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "max_fee": {
                        "description": "Maximum transaction fee",
                        "type": "string"
                    },
                    "max_fee_for_ct_addr": {
                        "description": "Maximum transaction fee for contract addresses",
                        "type": "string"
                    },
                    "max_withdraw_amount": {
                        "description": "Maximum amount for a single on-chain withdrawal",
                        "type": "string"
                    },
                    "min_collect_amount": {
                        "description": "Minimum amount for collection, i.e., the minimum amount to aggregate small balances to a single address",
                        "type": "string"
                    },
                    "min_confirmations": {
                        "description": "Minimum number of confirmations required, indicating the number of block confirmations needed for a transaction to be considered valid",
                        "type": "integer"
                    },
                    "min_deposit_amount": {
                        "description": "Minimum amount for a single deposit",
                        "type": "string"
                    },
                    "min_fee": {
                        "description": "Minimum transaction fee",
                        "type": "string"
                    },
                    "min_fee_for_ct_addr": {
                        "description": "Minimum transaction fee for contract addresses",
                        "type": "string"
                    },
                    "min_withdraw_amount": {
                        "description": "Minimum amount for a single on-chain withdrawal",
                        "type": "string"
                    },
                    "name": {
                        "description": "Name of the currency, e.g., Bitcoin, Ethereum, etc.",
                        "type": "string"
                    },
                    "need_memo": {
                        "description": "Indicates if additional Memo information is required, as needed by some currencies or exchanges",
                        "type": "boolean"
                    },
                    "network": {
                        "description": "Associated network, e.g., Bitcoin, Ethereum, etc.",
                        "type": "string"
                    }
                }
            },
            "CurrencyPair": {
                "type": "object",
                "required": [
                    "base_currency",
                    "to_currency"
                ],
                "properties": {
                    "base_currency": {
                        "description": "The currency to be converted from",
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1
                    },
                    "to_currency": {
                        "description": "The currency to be converted to.",
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1
                    }
                }
            },
            "CursorPage-Currency": {
                "type": "object",
                "required": [
                    "has_next",
                    "items"
                ],
                "properties": {
                    "has_next": {
                        "type": "boolean"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Currency"
                        }
                    },
                    "next_cursor": {
                        "type": "string"
                    },
                    "prev_cursor": {
                        "type": "string"
                    }
                }
            },
            "Error": {
                "type": "object",
                "required": [
                    "code",
                    "msg"
                ],
                "properties": {
                    "code": {
                        "description": "error code",
                        "type": "integer"
                    },
                    "msg": {
                        "description": "error message",
                        "type": "string"
                    }
                }
            },
            "EstimateResponse": {
                "type": "object",
                "required": [
                    "base_amount",
                    "base_currency",
                    "rate",
                    "to_amount",
                    "to_currency"
                ],
                "properties": {
                    "base_amount": {
                        "description": "The amount of the base currency you want to convert",
                        "type": "string"
                    },
                    "base_currency": {
                        "description": "The currency code of the base currency that you want to convert from",
                        "type": "string"
                    },
                    "rate": {
                        "description": "The exchange rate from the base currency to the target currency",
                        "type": "number"
                    },
                    "to_amount": {
                        "description": "The amount of the target currency you will receive after the conversion",
                        "type": "string"
                    },
                    "to_currency": {
                        "description": "The currency code of the target currency that you want to convert to",
                        "type": "string"
                    }
                }
            },
            "GetRatesRequest": {
                "type": "object",
                "required": [
                    "pairs"
                ],
                "properties": {
                    "pairs": {
                        "type": "array",
                        "maxItems": 100,
                        "minItems": 1,
                        "items": {
                            "$ref": "#/components/schemas/CurrencyPair"
                        }
                    }
                }
            },
            "GetRatesResponse": {
                "type": "object",
                "required": [
                    "rates"
                ],
                "properties": {
                    "rates": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Rate"
                        }
                    }
                }
            },
            "Page-Account": {
                "type": "object",
                "required": [
                    "items",
                    "total"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Account"
                        }
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "Page-Address": {
                "type": "object",
                "required": [
                    "items",
                    "total"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Address"
                        }
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "Page-Transaction": {
                "type": "object",
                "required": [
                    "items",
                    "total"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Transaction"
                        }
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "Page-Wallet": {
                "type": "object",
                "required": [
                    "items",
                    "total"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Wallet"
                        }
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "Rate": {
                "type": "object",
                "required": [
                    "pair",
                    "rate"
                ],
                "properties": {
                    "pair": {
                        "$ref": "#/components/schemas/CurrencyPair"
                    },
                    "rate": {
                        "description": "The exchange rate between the `BaseCurrency` and `ToCurrency`",
                        "type": "number"
                    }
                }
            },
            "Transaction": {
                "type": "object",
                "required": [
                    "amount",
                    "avatar",
                    "created_at",
                    "currency",
                    "direction",
                    "gateway",
                    "id",
                    "status"
                ],
                "properties": {
                    "amount": {
                        "description": "The total amount of money involved in the transaction.",
                        "type": "string"
                    },
                    "avatar": {
                        "description": "A URL or path to an avatar image associated with the transaction, often used to visually represent the transaction's source or recipient.",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "The date and time when the transaction was created.",
                        "type": "string"
                    },
                    "currency": {
                        "description": "The code of currency used in the transaction (e.g., TON, USDT, USD, EUR, etc.).",
                        "type": "string"
                    },
                    "direction": {
                        "description": "Indicates the flow of the transaction, typically whether it is incoming or outgoing.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/TransactionDirection"
                            }
                        ]
                    },
                    "gateway": {
                        "description": "The payment gateway or platform used to process the transaction.",
                        "type": "string"
                    },
                    "id": {
                        "description": "A unique identifier for the transaction.",
                        "type": "string"
                    },
                    "status": {
                        "description": "The current status of the transaction.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/TransactionStatus"
                            }
                        ]
                    }
                }
            },
            "TransactionDirection": {
                "type": "string",
                "enum": [
                    "UNKNOWN",
                    "OUT",
                    "IN"
                ],
                "x-enum-varnames": [
                    "TransactionDirectionUnknown",
                    "TransactionDirectionOut",
                    "TransactionDirectionIn"
                ]
            },
            "TransactionStatus": {
                "type": "string",
                "enum": [
                    "PROCESSING",
                    "CANCELED",
                    "FAILED",
                    "SUCCEED"
                ],
                "x-enum-varnames": [
                    "TransactionStatusProcessing",
                    "TransactionStatusCanceled",
                    "TransactionStatusFailed",
                    "TransactionStatusSucceed"
                ]
            },
            "UpdateWalletRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Wallet Name",
                        "type": "string"
                    },
                    "uid": {
                        "description": "Custom ID",
                        "type": "string"
                    }
                }
            },
            "Wallet": {
                "type": "object",
                "required": [
                    "created_at",
                    "id",
                    "name",
                    "uid"
                ],
                "properties": {
                    "created_at": {
                        "description": "Created time",
                        "type": "string"
                    },
                    "id": {
                        "description": "Wallet id",
                        "type": "string"
                    },
                    "name": {
                        "description": "Wallet name",
                        "type": "string"
                    },
                    "uid": {
                        "description": "External unique ID",
                        "type": "string"
                    }
                }
            }
        }
    }
}