/*
 * Wallet OpenAPI Documentation
 * This is a custody wallet service openapi server.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.openweb3.wallet.internal.api;

import io.openweb3.wallet.internal.ApiCallback;
import io.openweb3.wallet.internal.ApiClient;
import io.openweb3.wallet.internal.ApiException;
import io.openweb3.wallet.internal.ApiResponse;
import io.openweb3.wallet.internal.Configuration;
import io.openweb3.wallet.internal.Pair;
import io.openweb3.wallet.internal.ProgressRequestBody;
import io.openweb3.wallet.internal.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.openweb3.wallet.models.Error;
import io.openweb3.wallet.models.EstimateResponse;
import io.openweb3.wallet.models.GetRatesRequest;
import io.openweb3.wallet.models.GetRatesResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RatesApi {
    private ApiClient localVarApiClient;

    public RatesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RatesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for v1RatesEstimate
     * @param baseAmount The amount of the base currency you want to convert (required)
     * @param baseCurrency The currency code of the base currency that you want to convert from (required)
     * @param toCurrency The currency code of the target currency that you want to convert to (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1RatesEstimateCall(String baseAmount, String baseCurrency, String toCurrency, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/rates/estimate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (baseAmount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("base_amount", baseAmount));
        }

        if (baseCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("base_currency", baseCurrency));
        }

        if (toCurrency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("to_currency", toCurrency));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "SignatureAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v1RatesEstimateValidateBeforeCall(String baseAmount, String baseCurrency, String toCurrency, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'baseAmount' is set
        if (baseAmount == null) {
            throw new ApiException("Missing the required parameter 'baseAmount' when calling v1RatesEstimate(Async)");
        }
        
        // verify the required parameter 'baseCurrency' is set
        if (baseCurrency == null) {
            throw new ApiException("Missing the required parameter 'baseCurrency' when calling v1RatesEstimate(Async)");
        }
        
        // verify the required parameter 'toCurrency' is set
        if (toCurrency == null) {
            throw new ApiException("Missing the required parameter 'toCurrency' when calling v1RatesEstimate(Async)");
        }
        

        okhttp3.Call localVarCall = v1RatesEstimateCall(baseAmount, baseCurrency, toCurrency, _callback);
        return localVarCall;

    }

    /**
     * Estimates
     * Estimates currency exchange amounts.
     * @param baseAmount The amount of the base currency you want to convert (required)
     * @param baseCurrency The currency code of the base currency that you want to convert from (required)
     * @param toCurrency The currency code of the target currency that you want to convert to (required)
     * @return EstimateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public EstimateResponse v1RatesEstimate(String baseAmount, String baseCurrency, String toCurrency) throws ApiException {
        ApiResponse<EstimateResponse> localVarResp = v1RatesEstimateWithHttpInfo(baseAmount, baseCurrency, toCurrency);
        return localVarResp.getData();
    }

    /**
     * Estimates
     * Estimates currency exchange amounts.
     * @param baseAmount The amount of the base currency you want to convert (required)
     * @param baseCurrency The currency code of the base currency that you want to convert from (required)
     * @param toCurrency The currency code of the target currency that you want to convert to (required)
     * @return ApiResponse&lt;EstimateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<EstimateResponse> v1RatesEstimateWithHttpInfo(String baseAmount, String baseCurrency, String toCurrency) throws ApiException {
        okhttp3.Call localVarCall = v1RatesEstimateValidateBeforeCall(baseAmount, baseCurrency, toCurrency, null);
        Type localVarReturnType = new TypeToken<EstimateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Estimates (asynchronously)
     * Estimates currency exchange amounts.
     * @param baseAmount The amount of the base currency you want to convert (required)
     * @param baseCurrency The currency code of the base currency that you want to convert from (required)
     * @param toCurrency The currency code of the target currency that you want to convert to (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1RatesEstimateAsync(String baseAmount, String baseCurrency, String toCurrency, final ApiCallback<EstimateResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = v1RatesEstimateValidateBeforeCall(baseAmount, baseCurrency, toCurrency, _callback);
        Type localVarReturnType = new TypeToken<EstimateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for v1RatesList
     * @param getRatesRequest Request body (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1RatesListCall(GetRatesRequest getRatesRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = getRatesRequest;

        // create path and map variables
        String localVarPath = "/api/v1/rates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "SignatureAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v1RatesListValidateBeforeCall(GetRatesRequest getRatesRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'getRatesRequest' is set
        if (getRatesRequest == null) {
            throw new ApiException("Missing the required parameter 'getRatesRequest' when calling v1RatesList(Async)");
        }
        

        okhttp3.Call localVarCall = v1RatesListCall(getRatesRequest, _callback);
        return localVarCall;

    }

    /**
     * List rates
     * Query the latest exchange rates between different currencies.
     * @param getRatesRequest Request body (required)
     * @return GetRatesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public GetRatesResponse v1RatesList(GetRatesRequest getRatesRequest) throws ApiException {
        ApiResponse<GetRatesResponse> localVarResp = v1RatesListWithHttpInfo(getRatesRequest);
        return localVarResp.getData();
    }

    /**
     * List rates
     * Query the latest exchange rates between different currencies.
     * @param getRatesRequest Request body (required)
     * @return ApiResponse&lt;GetRatesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetRatesResponse> v1RatesListWithHttpInfo(GetRatesRequest getRatesRequest) throws ApiException {
        okhttp3.Call localVarCall = v1RatesListValidateBeforeCall(getRatesRequest, null);
        Type localVarReturnType = new TypeToken<GetRatesResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List rates (asynchronously)
     * Query the latest exchange rates between different currencies.
     * @param getRatesRequest Request body (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1RatesListAsync(GetRatesRequest getRatesRequest, final ApiCallback<GetRatesResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = v1RatesListValidateBeforeCall(getRatesRequest, _callback);
        Type localVarReturnType = new TypeToken<GetRatesResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
