/*
 * Wallet OpenAPI Documentation
 * This is a custody wallet service openapi server.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.openweb3.wallet.internal.api;

import io.openweb3.wallet.internal.ApiCallback;
import io.openweb3.wallet.internal.ApiClient;
import io.openweb3.wallet.internal.ApiException;
import io.openweb3.wallet.internal.ApiResponse;
import io.openweb3.wallet.internal.Configuration;
import io.openweb3.wallet.internal.Pair;
import io.openweb3.wallet.internal.ProgressRequestBody;
import io.openweb3.wallet.internal.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.openweb3.wallet.models.CursorPageWebhookEvent;
import io.openweb3.wallet.models.Error;
import io.openweb3.wallet.models.ResendWebhookEventRequest;
import io.openweb3.wallet.models.ResendWebhookEventResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WebhookEventsApi {
    private ApiClient localVarApiClient;

    public WebhookEventsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WebhookEventsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for v1WebhooksEventsList
     * @param cursor The cursor of the webhook event (optional)
     * @param eventTypes The type of the webhook event (optional)
     * @param limit The limit of the webhook event (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1WebhooksEventsListCall(String cursor, List<String> eventTypes, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/webhook/events";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (eventTypes != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("csv", "event_types", eventTypes));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "SignatureAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v1WebhooksEventsListValidateBeforeCall(String cursor, List<String> eventTypes, Integer limit, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = v1WebhooksEventsListCall(cursor, eventTypes, limit, _callback);
        return localVarCall;

    }

    /**
     * List webhook events
     * List webhook events
     * @param cursor The cursor of the webhook event (optional)
     * @param eventTypes The type of the webhook event (optional)
     * @param limit The limit of the webhook event (optional)
     * @return CursorPageWebhookEvent
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public CursorPageWebhookEvent v1WebhooksEventsList(String cursor, List<String> eventTypes, Integer limit) throws ApiException {
        ApiResponse<CursorPageWebhookEvent> localVarResp = v1WebhooksEventsListWithHttpInfo(cursor, eventTypes, limit);
        return localVarResp.getData();
    }

    /**
     * List webhook events
     * List webhook events
     * @param cursor The cursor of the webhook event (optional)
     * @param eventTypes The type of the webhook event (optional)
     * @param limit The limit of the webhook event (optional)
     * @return ApiResponse&lt;CursorPageWebhookEvent&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CursorPageWebhookEvent> v1WebhooksEventsListWithHttpInfo(String cursor, List<String> eventTypes, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = v1WebhooksEventsListValidateBeforeCall(cursor, eventTypes, limit, null);
        Type localVarReturnType = new TypeToken<CursorPageWebhookEvent>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List webhook events (asynchronously)
     * List webhook events
     * @param cursor The cursor of the webhook event (optional)
     * @param eventTypes The type of the webhook event (optional)
     * @param limit The limit of the webhook event (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1WebhooksEventsListAsync(String cursor, List<String> eventTypes, Integer limit, final ApiCallback<CursorPageWebhookEvent> _callback) throws ApiException {

        okhttp3.Call localVarCall = v1WebhooksEventsListValidateBeforeCall(cursor, eventTypes, limit, _callback);
        Type localVarReturnType = new TypeToken<CursorPageWebhookEvent>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for v1WebhooksEventsResend
     * @param resendWebhookEventRequest The request (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1WebhooksEventsResendCall(ResendWebhookEventRequest resendWebhookEventRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = resendWebhookEventRequest;

        // create path and map variables
        String localVarPath = "/api/v1/webhook/events/resend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "SignatureAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v1WebhooksEventsResendValidateBeforeCall(ResendWebhookEventRequest resendWebhookEventRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'resendWebhookEventRequest' is set
        if (resendWebhookEventRequest == null) {
            throw new ApiException("Missing the required parameter 'resendWebhookEventRequest' when calling v1WebhooksEventsResend(Async)");
        }
        

        okhttp3.Call localVarCall = v1WebhooksEventsResendCall(resendWebhookEventRequest, _callback);
        return localVarCall;

    }

    /**
     * Resend webhook event
     * Resend a webhook event to specific endpoint
     * @param resendWebhookEventRequest The request (required)
     * @return ResendWebhookEventResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ResendWebhookEventResponse v1WebhooksEventsResend(ResendWebhookEventRequest resendWebhookEventRequest) throws ApiException {
        ApiResponse<ResendWebhookEventResponse> localVarResp = v1WebhooksEventsResendWithHttpInfo(resendWebhookEventRequest);
        return localVarResp.getData();
    }

    /**
     * Resend webhook event
     * Resend a webhook event to specific endpoint
     * @param resendWebhookEventRequest The request (required)
     * @return ApiResponse&lt;ResendWebhookEventResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ResendWebhookEventResponse> v1WebhooksEventsResendWithHttpInfo(ResendWebhookEventRequest resendWebhookEventRequest) throws ApiException {
        okhttp3.Call localVarCall = v1WebhooksEventsResendValidateBeforeCall(resendWebhookEventRequest, null);
        Type localVarReturnType = new TypeToken<ResendWebhookEventResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Resend webhook event (asynchronously)
     * Resend a webhook event to specific endpoint
     * @param resendWebhookEventRequest The request (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v1WebhooksEventsResendAsync(ResendWebhookEventRequest resendWebhookEventRequest, final ApiCallback<ResendWebhookEventResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = v1WebhooksEventsResendValidateBeforeCall(resendWebhookEventRequest, _callback);
        Type localVarReturnType = new TypeToken<ResendWebhookEventResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
